
 body {
  background: url(Albert_Harris_-_Coconut_shy_B.jpg);
  z-index;
}


#barre-top {
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: = +10;

}

#logo {
  background-color: #EFECCA;
  font-family: Brush Script MT;
  border-radius: 0px 50% / 20px 0em 30px 5em;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  padding-left: 35px;
  font-size: 200%;
}

#boutton-top-right {
  background-color: #EFECCA;
  border-style: outset;

}
.col-sm-3 {
  margin-top: 80px;
  /* margin-left: 40px;
  margin-right: 40px; */
  background-color: #EFECCA;
  height: 800px;
  z-index: = -10;


}

#colones {
    z-index: = -1;
}
